{
	"name": "ARACHNI",
	"version": "1.5.1",
	"description": "Web Vulnerability scanner",
	"allowed_asset_types": ["ip", "domain", "fqdn", "url"],
	"api_url": "http://localhost:7331",
	"username": "admin@admin.admin",
	"password": "administrator",
	"listening_host": "localhost",
	"listening_port": "7331",
	"password": "administrator",
	"path": "libs/arachni-1.5.1-0.5.12",
	"options": {
				"report_formats": ["raw", "json"],
        "max_timeout": 3600,
        "base_url": "/level1/",
        "no_fingerprinting" : true,
        "http": {
            "user_agent": "Arachni/v2.0dev-Patrowl",
            "request_queue_size": 200,
            "request_redirect_limit": 5,
            "request_concurrency": 30
        },
        "input" : {
            "values" : {},
            "without_defaults" : true,
            "force" : false
        },
        "browser_cluster": {
            "pool_size": 12,
            "ignore_images": true,
            "job_timeout" : 10,
            "worker_time_to_live" : 100
        },
        "scope": {
            "exclude_file_extensions": ["pdf", "css", "ico", "jpg", "svg", "png", "gif", "jpeg"],
            "auto_redundant_paths": 10,
            "include_subdomains": false,
            "exclude_binaries": true,
            "exclude_binaries": false,
            "https_only" : false
        },
        "audit": {
            "parameter_values": true,
            "exclude_vector_patterns": [],
            "include_vector_patterns": [],
            "link_templates": [],
            "links": true,
            "forms": true,
            "cookies": false,
            "headers" : false,
            "with_both_http_methods" : false,
            "jsons": true,
            "xmls": true,
            "ui_forms": true,
            "ui_inputs": true
        },
        "checks": [
            "allowed_methods",
            "backdoors",
            "backup_directories",
            "backup_files",
            "-captcha",
            "code_injection",
            "code_injection_php_input_wrapper",
            "code_injection_timing",
            "common_admin_interfaces",
            "common_directories",
            "common_files",
            "cookie_set_for_parent_domain",
            "-credit_card",
            "csrf",
            "cvs_svn_users",
            "directory_listing",
            "-emails",
            "file_inclusion",
            "-form_upload",
            "hsts",
            "htaccess_limit",
            "-html_objects",
            "http_only_cookies",
            "http_put",
            "insecure_client_access_policy",
            "insecure_cookies",
            "insecure_cors_policy",
            "insecure_cross_domain_policy_access",
            "insecure_cross_domain_policy_headers",
            "interesting_responses",
            "ldap_injection",
            "localstart_asp",
            "mixed_resource",
            "no_sql_injection",
            "no_sql_injection_differential",
            "origin_spoof_access_restriction_bypass",
            "os_cmd_injection",
            "os_cmd_injection_timing",
            "password_autocomplete",
            "path_traversal",
            "private_ip",
            "response_splitting",
            "rfi",
            "session_fixation",
            "source_code_disclosure",
            "sql_injection",
            "sql_injection_differential",
            "sql_injection_timing",
            "-ssn",
            "trainer",
            "unencrypted_password_forms",
            "unvalidated_redirect",
            "unvalidated_redirect_dom",
            "webdav",
            "x_frame_options",
            "xpath_injection",
            "xss",
            "xss_dom",
            "xss_dom_script_context",
            "xss_event",
            "xss_path",
            "xss_script_context",
            "xss_tag",
            "xst",
            "xxe"
          ]
    }

}
