{
	"name": "SSLLABS",
	"version": "3",
	"description": "SSL Scanner based on Qualys SSL LAB API",
	"api_url": "https://api.ssllabs.com/api/v3/",
	"allowed_asset_types": ["domain", "fqdn", "url"],
	"options": {}
}
