certifi==2022.12.7
chardet==3.0.4
click==8.1.3
Flask==2.3.2
gevent==22.10.2
greenlet==2.0.1
gunicorn==20.1.0
idna==2.7
itsdangerous==2.0.0
Jinja2==3.1.2
MarkupSafe==2.1.1
PatrowlEnginesUtils>=1.0.2
psutil==5.9.4
requests==2.28.2
setuptools==65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3==1.26.14
werkzeug==2.2.3
