click
flask==2.1.2
gunicorn
itsdangerous
Jinja2
MarkupSafe
PatrowlEnginesUtils>=1.0.1
psutil
urllib3
werkzeug
requests
gevent
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
