click
flask==2.3.2
gitdb2
GitPython
gunicorn
itsdangerous
Jinja2
MarkupSafe
nose
PyJWT
python-dateutil
six
smmap2
svn
werkzeug
PatrowlEnginesUtils>=1.0.1
setuptools==65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
