{
	"name": "PatrOwl - Dns module",
	"version": "1.5.8",
	"description": "DNS Scanner",
	"allowed_asset_types": ["ip", "domain", "fqdn", "keyword"],
	"sublist3r_bin_path": "/opt/patrowl-engines/owl_dns/external-libs/Sublist3r",
	"dnstwist_bin_path": "/opt/patrowl-engines/owl_dns/external-libs/dnstwist",
	"dnstwist_common_tlds": "/opt/patrowl-engines/owl_dns/external-libs/dnstwist/dictionaries/common_tlds.dict",
	"external_ip_ranges_path": "/opt/patrowl-engines/owl_dns/etc/ip-ranges.json",
	"seg_path": "/opt/patrowl-engines/owl_dns/etc/seg_list.json",
	"whoisfreak_api_tokens": ["xx", "yy"],
	"names_path": "/opt/patrowl-engines/owl_dns/etc/names.txt",
	"options": {
		"do_whois": 				{ "required": false, "value": "boolean" },
		"do_advanced_whois":{ "required": false, "value": "boolean" },
		"do_subdomain_enum":{ "required": false, "value": "boolean" },
		"do_subdomain_bruteforce":{ "required": false, "value": "boolean" },
		"do_reverse_dns": 	{ "required": false, "value": "boolean" },
		"do_dns_resolve": 	{ "required": false, "value": "boolean" },
		"do_spf_check": 	{ "required": false, "value": "boolean" },
		"do_dmarc_check": 	{ "required": false, "value": "boolean" },
		"do_dkim_check": 	{ "required": false, "value": "boolean" },
		"do_subdomains_resolve": 	{ "required": false, "value": "boolean" },
		"max_results": 	{ "required": false, "value": "int|str" }
	}
}
