certifi==2017.4.17
chardet==3.0.4
click==6.7
decorator==4.4.0
dnslib==0.9.10
dnspython==1.15.0
flask==1.1.2
future==0.17.1
gunicorn==20.0.4
idna==2.5
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==1.0
PatrowlEnginesUtils>=0.0.12
python-whois==0.7.1
requests==2.22.0
six==1.12.0
urllib3==1.25.8
validators==0.13.0
werkzeug>=0.15.6
