{
	"name": "Nessus",
	"version": "8.11.1 (#243) LINUX",
	"description": "Vulnerability Scanner",
	"server_host": "NESSUS_IP",
	"server_port": "8834",
	"server_username": "NESSUS_USERNAME",
	"server_password": "NESSUS_PASSWORD",
	"default_policy": "DEFAULT.nessus",
	"allowed_asset_types": ["ip", "domain", "ip-range", "ip-subnet", "url", "fqdn"]
}
