certifi
chardet
click
cortex4py==1.0.0
flask==2.3.2
future
gunicorn
idna
itsdangerous
Jinja2
json2html
MarkupSafe
python-magic
#python-magic-bin
requests
urllib3
werkzeug
setuptools==65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
