{
  "name": "EyeWitness API",
  "version": "1.0.0",
  "description": "EyeWitness API",
  "allowed_asset_types": ["fqdn", "ip", "domain"],
  "options": {
     "EyeWitnessDirectory":  { "type": "mandatory", "value": "libs/EyeWitness/"},
     "ScreenshotsDirectory": { "type": "mandatory", "value": "/var/www/html/"},
     "ScreenshotsURL":       { "type": "mandatory", "value": "http://eyewitness.domain.net:80"}
  }
}
