{
    "name": "PastebinMonitor",
    "version": "0.0.2",
    "description": "PastebinMonitor PatrOwl engine to crawl pastebin with or without API key with a proxy list.",
    "allowed_asset_types": [
        "fqdn",
        "ip",
        "domain"
    ],
    "options": {
        "ProxyEnabled": false,
        "ThreadsNumber": {
            "type": "required",
            "value": 3
        },
        "ApiKey": {
            "type": "optional",
            "value": ""
        }
    },
    "assets": {}
}