{
	"name": "droopescan",
	"version": "1.0.0",
	"description": "CMS Scanner",
	"allowed_asset_types": ["url"],
	"options": {
		"hosts":    	    { "type": "required" },
		"cms":              { "type": "required" },
		"search_vulns":     { "type": "optional", "value": false }
	}
}
