{
	"name": "droopescan",
	"version": "1.0",
	"description": "CMS Scanner",
	"allowed_asset_types": ["url"],
	"options": {
		"hosts": 				{ "type": "required", "value": "-u" },
		"scan_drupal": 				{ "type": "optional", "value": "scan drupal" },
		"scan_joomla": 				{ "type": "optional", "value": "scan joomla" },
		"scan_moodle": 			{ "type": "optional", "value": "scan moodle"},
		"scan_silverstripe": 			{ "type": "optional", "value": "scan silverstripe"},
		"scan_wordpress": 		{ "type": "optional", "value": "scan wordpress"}
	}
}
