attrs==21.2.0
click==8.0.3
flasgger==0.9.5
Flask==2.3.2
Flask-Cors==3.0.10
gunicorn==20.1.0
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.1.2
jsonschema==4.1.0
MarkupSafe==2.1.1
mistune==2.0.3
PatrowlEnginesUtils>=1.0.2
pyrsistent==0.18.0
PyYAML==5.4.1
six==1.16.0
typing-extensions==3.10.0.2
werkzeug==2.2.3
zipp==3.6.0
