Click==7.0
flasgger==0.9.2
Flask==1.0.2
Flask-Cors==3.0.7
functools32==3.2.3.post2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
mistune==0.8.4
PatrowlEnginesUtils==0.0.4
pyyaml>=4.2b1
six==1.11.0
Werkzeug==0.14.1
