{
  "name": "SSLScan",
  "version": "2",
  "description": "SSL Scanner based on SSLScan",
  "allowed_asset_types": ["domain", "fqdn", "url", "ip"],
  "options": {
    "bin_path": "/opt/patrowl-engines/sslscan/libs/sslscan/sslscan"
  }
}
