{
  "name": "APIVOID",
  "version": "1.4.32-rc1",
  "description": "APIVoid reputation API",
  "allowed_asset_types": ["domain", "fqdn", "ip", "url", "ip-subnet"],
  "apikeys": [
    "xx",
    "yy"
  ],
  "options": {
    "ip_reputation": {"required": false, "value": "boolean", "asset_types": ["ip"]},
    "domain_reputation": {"required": false, "value": "boolean", "asset_types": ["domain"]}
  }
}
