dnspython==1.16.0
Flask==1.0.3
gunicorn==19.9.0
idna==2.5
itsdangerous==0.24
Jinja2==2.10.1
lxml==4.3.3
MarkupSafe==1.0
PatrowlEnginesUtils>=0.0.12
requests==2.20.0
six==1.12.0
urllib3==1.25.2
Werkzeug==0.14.1
