bcrypt
certifi
cffi
chardet
click
cryptography
defusedxml
dnspython
flask==2.3.2
gunicorn
#gvm-tools==20.10.1
gvm-tools==21.10.0
idna
itsdangerous
Jinja2
lxml
MarkupSafe
packaging
paramiko
PatrowlEnginesUtils>=1.0.1
pycparser
PyNaCl
pyparsing
#python-gvm==20.11.3
python-gvm==21.10.0
requests
six
tomlkit
urllib3
Werkzeug
netaddr
validators
