bcrypt
certifi
cffi
chardet
click
cryptography
defusedxml
dnspython
flask==2.0.1
gunicorn
gvm-tools
idna
itsdangerous
Jinja2
lxml
MarkupSafe
packaging
paramiko
PatrowlEnginesUtils>=1.0.1
pycparser
PyNaCl
pyparsing
python-gvm
requests
six
tomlkit
urllib3
Werkzeug
netaddr
validators
